@use '../abstracts' as *;

.breadcrumb {
  &__list {
    display: flex;
    font-size: fluid(12, 16, 320, 768);
  }

  &__list-item {
    padding-left: 0.5rem;
  }
  &__list-item + &__list-item::before {
    content: var(--breadcrumb-divider, '/');
    padding-right: 0.5rem;
    float: left;
  }
}
