// SCSS Starter Kit
// Version: 0.1.0-beta
// Author: Tony Nguyen

@use 'base';
@use 'effects';
@use 'components';
@use 'layout';
@use 'utilities';
// @use 'components/nav-offcanvas';
// @use 'components/backdrop';
// @use 'components/tabs';

.nav[data-expand='md'] {
  background-color: red;
}
.nav[data-expand='lg'] {
  background-color: yellow;

  .nav__container {
    background-color: pink;
  }
}
